body {
    width: 440px;
    color: #FFFFFF;
    background-color: #38343A;
    font-family: 'Source Sans Pro', sans-serif;
    background: -moz-linear-gradient(top, #493439 0%, #38343a 22%, #38343a 96%, #2c282d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #493439), color-stop(22%, #38343a), color-stop(96%, #38343a), color-stop(100%, #2c282d));
    background: -webkit-linear-gradient(top, #493439 0%, #38343a 22%, #38343a 96%, #2c282d 100%);
    background: -o-linear-gradient(top, #493439 0%, #38343a 22%, #38343a 96%, #2c282d 100%);
    background: -ms-linear-gradient(top, #493439 0%, #38343a 22%, #38343a 96%, #2c282d 100%);
    background: linear-gradient(to bottom, #493439 0%, #38343a 22%, #38343a 96%, #2c282d 100%);
}

#content {
    max-width: 930px;
    min-height: 600px;
    padding: 30px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
}

article.account {
    font-size: 110%;
    clear: both;
    background-color: #3C383E;
    overflow: auto;
    width: 100%;
    padding: .5em 1em;
    margin-bottom: 1em;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

article.account dl {
    float: left;
    width: 75%;
    margin: 0;
    padding: 0;
}

article.account dt {
    color: #827D87;
    float: left;
    clear: left;
    text-align: right;
    width: 10%;
    min-width: 80px;
    padding: 1% 2%;
}

article.account dd {
    float: left;
    width: 65%;
    padding: 1%;
    margin-left: 0;
}

kbd {
    color: #E0DEE1;
    font-family: 'Ubuntu Mono', monospace;
    background: rgba(0, 0, 0, .3);
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    padding: .25em .5em;
    transition: .3s;
    text-shadow: 1px 1px rgba(0, 0, 0, .8);
}

kbd:hover, kbd.selected {
    color: #E0DEE1;
    background: rgba(0, 0, 0, .5);
}

kbd::selection {
    color: #fff;
    background: #00BFDD;
    text-shadow: none;
}

kbd::-moz-selection {
    color: #fff;
    background: #00BFDD;
    text-shadow: none;
}

dt.stats {
    visibility: hidden;
}

dd.stats {
    color: #6F6B74;
    font-weight: 300;
    font-size: 90%;
}

dd.stats ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

dd.stats ul li {
    float: left;
    margin-right: 1em;
    padding: .1em .4em .2em .4em;
}

dd.stats ul li:last-child {
    padding-left: 0;
}

li.success_rate {
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.success_100 {
    background-color: rgba(0, 198, 0, .1);
    color: rgb(0, 198, 0);
}

.success_90 {
    background-color: rgba(50, 180, 0, .1);
    color: rgb(50, 180, 0);
}

.success_80 {
    background-color: rgba(99, 164, 0, .1);
    color: rgb(99, 164, 0);
}

.success_70 {
    background-color: rgba(149, 146, 0, .1);
    color: rgb(149, 146, 0);
}

.success_60 {
    background-color: rgba(199, 129, 0, .1);
    color: rgb(199, 129, 0);
}

.success_50 {
    background-color: rgba(247, 112, 0, .1);
    color: rgb(247, 112, 0);
}

.success_40 {
    background-color: rgba(247, 90, 0, .1);
    color: rgb(247, 90, 0);
}

.success_30 {
    background-color: rgba(247, 67, 0, .1);
    color: rgb(247, 67, 0);
}

.success_20 {
    background-color: rgba(247, 45, 0, .1);
    color: rgb(247, 45, 0);
}

.success_10 {
    background-color: rgba(247, 22, 0, .1);
    color: rgb(247, 22, 0);
}
